---
layout: markdown_page
title: "GitHub"
---
<!-- This is the template for defining sections which will be included in a tool comparison page. This .md file is included in the top of the page and a table of feature comparisons is added directly below it. This template provides the sections which can be included, and the order to include them. If a section has no content yet then leave it out. Leave this note in tact so that others can see where new sections should be added.

## Summary
   - minimal requirement <-- comment. delete this line
## Strengths
## Weaknesses
## Who buys and why
## Comments/Anecdotes
   - possible customer issues with product  <-- comment. delete this line
   - sample benefits and success stories  <-- comment. delete this line
   - date, source, insight  <-- comment. delete this line
## Resources
   - links to communities, etc  <-- comment. delete this line
   - bulleted list  <-- comment. delete this line
## FAQs
 - about the product  <-- comment. delete this line
## Integrations
## Pricing
   - summary, links to tool website  <-- comment. delete this line
### Value/ROI
   - link to ROI calc?  <-- comment. delete this line
## Questions to ask
   - positioning questions, traps, etc.  <-- comment. delete this line
## Comparison
   - features comparison table will follow this <-- comment. delete this line

<!------------------Begin page additions below this line ------------------ -->



## Recent GitHub Announcements

### GitHub Satellite Event
  On May 6, GitHub made several feature announcements at their GitHub Satellite Event.  Here's [**GitLab's blog post**](https://about.gitlab.com/blog/2020/05/06/git-challenge/) about their event.

### GitHub Teams for Free
  On April 14, 2020, GitHub announced that GitHub is now free for teams.  GitLab has been free for teams/organizations since its inception.  Read [**GitLab's blog post response and #GitChallenge**](https://about.gitlab.com/blog/2020/04/14/github-free-for-teams/) on this move by GitHub.


## GitHub-GitLab Comparison Infographic
  Here's an infographic we put together that compares GitHub and GitLab.  The methodology used to build this chart can be found [here](#comparison_note).  More detailed comparisons and commentary on strenghts, gaps etc. are in sections below.

![GitLab GitHub Comparison Chart](/images/devops-tools/github_comparison.png "GitLab-GitHub Comparison Chart")



<a name="comparison_note"></a>**Note:**  This chart was developed by comparing the feature categories supported by GitLab and GitHub.  For example, the ratio "5/7" for GitLab in Plan stage indicates support for 5 out of 7 feature categories within that DevOps Lifecycle Stage.
We then applied certain % thresholds to color code the bars.  In keeping with GitLab value of transparency, we applied this scoring methodology both to GitLab and GitHub capabilities, which is the reason you will see in some cases GitLab scores less than perfect scores.
If you have questions about the analysis or additional inputs please feel free to submit an issue by clicking the link at the bottom of this page or writing a comment.
{: .note}

## On this page
{:.no_toc}

- TOC
{:toc}

## Overview

<div class="sdlc-component-container">
  <%= partial "includes/sdlc_comparison_tabs_vue" %>
</div>

<style>
   .flex-cell:nth-of-type(3) {
      display: none;
   }
</style>

## Summary

[GitLab vs. GitHub](https://www.youtube.com/watch?v=s8DCpG1PeaU&feature=youtu.be) - a comparison video created by an independent external source (LinuxHint.com).

GitHub is a collaborative code repository to host and review code, manage projects and build software. It offers all of the distributed version control and source code management (SCM) functionality of Git as well as adding its own features. It provides access control and several collaboration features such as bug tracking, feature requests, task management, and wikis for every project.

In November 2019, GitHub announced general availability of GitHub Actions for all users.  GitHub Actions feature enables code snippets to be run in a container upon a wide variety of GitHub API calls. This has the promise of enabling users to orchestrate their workflows based on any event. With GitHub Actions, workflows and steps are just code in a repository. Actions enable GitHub to offer CI/CD, which makes it easier to automate how you build, test, and deploy your projects and includes runner support for Linux, macOS, and Windows. It runs your workflows in a container or in a virtual machine.

Similarly, GitLab has integrated CI/CD, but also offers additional capabilities such as application performance and server monitoring. GitLab also includes static and dynamic security testing and container scanning.

GitHub does not come with a deployment platform and needs additional applications, like Heroku, in order to deploy applications. GitLab leverages [Kubernetes](/solutions/kubernetes/) to create a seamless deployment experience in a single application.

GitHub offers plans for both private repositories and free accounts which are commonly used to host open-source software projects.

As of September 2019, GitHub reports having over 40 million developers.  Although Developers are defined as "Developers are individual user accounts on GitHub, regardless of their activity." and 100 million repositories (including 28 million public repositories), making it the largest host of source code in the world.

GitHub is also offered in a self-managed version called GitHub Enterprise (GHE).

Microsoft acquired GitHub on June 4, 2018.

## GitHub Strengths
- Large user base of developers using GitHub.
- Many Open Source projects hosted on GitHub, although GitHub itself is not Open Source.

## GitHub Gaps
- End to End DevOps: GitHub requires multiple tools stitched together to provide an end to end DevOps solution.  GitLab provides a single platform for DevOps, with tools for different stages pre-integrated and working seamlessly.
- Scaling: Feedback from GitHub customers is that GitHub Enterprise (GHE) has trouble scaling. essentially is in a single box.  The only way to scale the system is by adding more CPU and memory.  This taps out at some scale.  Data suggests GitHub is unable to scale beyond 2000 users in many instances.  After maximizing CPU and memory in a single box, the only way to scale is to add separate boxes or decentralize.  This leads to code fragmentation.
[GitLab is enterprise class](/solutions/enterprise-class/) and scales to > 32K users.
- High Availability: GitHub HA solution is at best a warm-standby.  This approach could lead to more downtime and even information loss if backups are not made frequently.
- Zero Downtime Upgrades: GitHub does not provide Zero Downtime Upgrades, with downtime for upgrades lasting as many as four hours.  This is a major requirement for most enterprises.  GitLab provides Zero Downtime upgrades.
- As a large repository of Open Source projects, GitHub itself is not Open Source.  Making customers dependent solely on GitHub for product improvements.

## GitHub Actions Gaps
### Source: [GitHub Actions Community Forum](https://github.community/t5/GitHub-Actions/bd-p/actions)
The following table lists key gaps in GitHub Actions and its associated impact.  This information is derived from user feedback in GitHub Actions Community Group and was assimilated on April 10, 2020.

| **Description**                                                                                                                                                                         | **Impact**                                                                                                                                                                                                 | **Reference**                                                                                                                                       |
|-----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------|------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------|-----------------------------------------------------------------------------------------------------------------------------------------------------|
| **Continuous Integration**                                                                                                                                                              |                                                                                                                                                                                                            |                                                                                                                                                     |
| *Issues That Increase Build Time*                                                                                                                                                       |                                                                                                                                                                                                            |                                                                                                                                                     |
| GitHub Actions does not support [skip ci]                                                                                                                                               | Trivial changes can trigger long build times because the CI step is automatically kicked off.                                                                                                              | [GitHub Community Discussion](https://github.community/t5/GitHub-Actions/GitHub-Actions-does-not-respect-skip-ci/m-p/42834)                         |
| Cannot Auto-Cancel Redundant Builds                                                                                                                                                     | When a newer build is triggered on the same branch does not cancel running builds and start on the new one. Increased build times and compute resources                                                    | [GitHub Community Discussion](https://github.community/t5/GitHub-Actions/Github-actions-Cancel-redundant-builds/m-p/29549)                          |
| Unable to cache artifacts within repo for reuse in subsequent builds                                                                                                                    | Slower build times because a docker image needs to be rebuilt each time or fetched from hub, instead of using cached version in repo.                                                                      | [GitHub Community Discussion](https://github.community/t5/GitHub-Actions/Cache-a-Docker-image-built-in-workflow/td-p/31805)                         |
| Caching files between GitHub Actions executions is limited to 200 MB                                                                                                                    | Projects and builds take longer to run.                                                                                                                                                                    | [GitHub Community Discussion](https://github.community/t5/GitHub-Actions/Caching-files-between-GitHub-Action-executions/td-p/29445)                 |
| Continue on Error does not notify in UI                                                                                                                                                 | Allowable errors are not flagged in UI, have to review logs.                                                                                                                                               | [GitHub Community Discussion](https://github.community/t5/GitHub-Actions/continue-on-error-allow-failure-UI-indication/m-p/37033)                   |
| Cannot retry a build that failed                                                                                                                                                        | Increases idle times between re-tries due to need for manual monitoring and manual trigger of retry.                                                                                                       | [GitHub Community Discussion](https://github.community/t5/GitHub-Actions/How-to-retry-a-build-that-failed/m-p/38687#M3465)                          |
| Github Actions cannot pull from private docker repositories (AWS ECR, Docker Hub, GC Container Registry)                                                                                | Increases build times.                                                                                                                                                                                     | [GitHub Community Discussion](https://github.community/t5/GitHub-Actions/Github-Actions-new-Pulling-from-private-docker-repositories/td-p/29302)    |
| GitHub Actions Build Caching - Docker Layers                                                                                                                                            | Builds take longer because container image is built from scratch.                                                                                                                                          | [GitHub Community Discussion](https://github.community/t5/GitHub-Actions/Github-Action-Build-Caching/m-p/29159#M4)                                  |
| *Issues That Increase Operational Costs*                                                                                                                                                |                                                                                                                                                                                                            |                                                                                                                                                     |
| Cannot specify dependency running in another workflow                                                                                                                                   | Cannot reuse code, code duplication and several if conditions are necessary, which complicates workflow definition.                                                                                        | [GitHub Community Discussion](https://github.community/t5/GitHub-Actions/How-do-I-specify-job-dependency-running-in-another-workflow/m-p/33972)     |
| Actions cannot be accessed across other private repositories even when repos are within the same organization.                                                                          | Hard to reuse code.  Need hard to implement workarounds to overcome this limitation                                                                                                                        | [GitHub Community Discussion](https://github.community/t5/GitHub-Actions/Github-action-action-in-private-repository/m-p/29722)                      |
| Cannot delete individual workflow runs from UI                                                                                                                                          | Persistence of failed workflow runs adds to clutter and reduces manageability.                                                                                                                             | [GitHub Community Discussion](https://github.community/t5/GitHub-Actions/Deletion-of-individual-workflow-runs/m-p/39998)                            |
| **Continuous Delivery**                                                                                                                                                                 |                                                                                                                                                                                                            |                                                                                                                                                     |
| *Issues That Increase Delivery Time*                                                                                                                                                    |                                                                                                                                                                                                            |                                                                                                                                                     |
| Unable to re-run just a single job in a workflow                                                                                                                                        | For example, cannot re-run just some of the failed tests.  Users have to rerun the entire workflow, resulting in wasted time/loss of productivity.  In a workflow with 10 jobs, you have to re-run all 10. | [GitHub Community Discussion](https://github.community/t5/GitHub-Actions/Ability-to-rerun-just-a-single-job-in-a-workflow/m-p/41629)                |
| *Issues That Increase Operational Costs*                                                                                                                                                |                                                                                                                                                                                                            |                                                                                                                                                     |
| Cannot easily trigger different workflows for staging and production environment                                                                                                        | Conditional workflows are hard to implement and maintain because GitHub Actions Events do not have types associated with it.  Have to implement series of if conditions in the workflow.                   | [GitHub Community Discussion](https://github.community/t5/GitHub-Actions/Understanding-GitHub-Actions-and-Deployments/td-p/45606)                   |
| Cannot trigger a new workflow from another workflow using the repository's GITHUB_TOKEN. Options are to 1) create a bot user and use a personal access token or 2) create a github app. | Cannot easily kick off tests after a code push.  Must use one of the prescribed workarounds.                                                                                                               | [GitHub Community Discussion](https://github.community/t5/GitHub-Actions/Triggering-a-new-workflow-from-another-workflow/td-p/31676)                |
| Cannot trigger actions via Pull Request Messages/Comment                                                                                                                                | E.g. User does not want some Actions that take long to run to fire on every pull request. Instead add a comment in the PR to prevent certain actions from running.                                         | [GitHub Community Discussion](https://github.community/t5/GitHub-Actions/Trigger-action-via-pull-request-message/td-p/46523)                        |
| Lack of support for YAML anchors and aliases                                                                                                                                            | Prevents code reuse. To overcome this limitation users need to cut and paste code, 5x the workflow size, difficult to maintain.                                                                            | [GitHub Community Discussion](https://github.community/t5/GitHub-Actions/Support-for-YAML-anchors/m-p/30336)                                        |
| *Issues That Increase Risk*                                                                                                                                                             |                                                                                                                                                                                                            |                                                                                                                                                     |
| Cannot manually trigger a workflow execution.                                                                                                                                           | Limits ability to manually trigger to production but allow automated triggers to other environments.                                                                                                       | [GitHub Community Discussion](https://github.community/t5/GitHub-Actions/GitHub-Actions-Manual-Trigger-Approvals/m-p/31504)                         |
| **Enterprise Readiness**                                                                                                                                                                |                                                                                                                                                                                                            |                                                                                                                                                     |
| *Issues That Increase Risk*                                                                                                                                                             |                                                                                                                                                                                                            |                                                                                                                                                     |
| Making secrets availabe to builds of forks                                                                                                                                              | Increased security vulnerability due to work arounds such as including token in plain text in workflows.                                                                                                   | [GitHub Community Discussion](https://github.community/t5/GitHub-Actions/Make-secrets-available-to-builds-of-forks/td-p/30678)                      |
| GitHub Actions requires credentials for accessing Docker Images from a public repository.  Works manually through UI.                                                                   | Need a separate Docker Registry as a workaround.  GitHub Packages cannot be accessed through Actions without credentials.                                                                                  | [GitHub Community Discussion](https://github.community/t5/GitHub-Actions/docker-pull-from-public-GitHub-Package-Registry-fail-with-quot/td-p/32782) |
| *Issues That Increase Operational Cost*                                                                                                                                                 |                                                                                                                                                                                                            |                                                                                                                                                     |
| GitHub Action support in GitHub Enterprise Server                                                                                                                                       | GitHub Actions does not work in GitHub Enterprise Server, currently only available in GitHub Enterprise Cloud                                                                                              | [GitHub Community Discussion](https://github.community/t5/GitHub-Actions/GitHub-Actions-Beta-support-in-GitHub-Enterprise/m-p/48441)                |
| Selectively delete artifacts from UI or store artificats for less than 90 days                                                                                                          | Increased storage needs leads to higher pricing.  Teams can also be blocked because they have reached artifacts limit. Must write special scripts or manage artificats post build to reduce storage.       | [GitHub Community Discussion](https://github.community/t5/GitHub-Actions/Delete-artifacts/m-p/38188)                                                |

<!---
Table Source: https://docs.google.com/spreadsheets/d/1v1qyATdzfzeLMV-rml-3-snLMd3-pfQfrYlJz_LyI2o/edit#gid=0
 -->

## GitLab Scaling, HA and Zero-Downtime Upgrade Capabilities
- Scaling: GitLab [GitLab is enterprise class](/solutions/enterprise-class/) and scales to > 32K users. Here's a link to the architecture when deployed in [Amazon](https://docs.gitlab.com/ee/install/aws/).  This feature when used with Amazon's AutoScaling feature ensures that you can have nodes turned on and off as needed based on demand.  This leads to significant cost savings, while maintaining the developer experience from a performance standpoint. GitLab runners are also mutable, one can spin up runners as needed and only pay for what one needs to use.
- High-Availability: GitLab provides HA from two standpoints.  First the Application itself is Highly Available through seamless failovers into remaining nodes.  Second, the data is highly available through the use of [Gitaly](https://docs.gitlab.com/ee/administration/gitaly/index.html).  Gitaly is a service that provides high-level RPC access to Git repositories. GitLab fails over seamlessly - if a Gitaly node or another node drops there is no downtime.  In case of a catastrophic event, GitLab can fail over to another Geo.  This process in case of catastropic failure takes only 5-20 minutes.  Business is up and running at full speed without problems.
- Zero-Downtime Upgrades:  Due to the strong HA architecture GitLab is able to provide zero downtime upgrades.

## Announcements
- 2020-04-14 - GitHub announces that it is now [Free for Teams](https://github.blog/2020-04-14-github-is-now-free-for-teams/).
- 2019-11 - GitHub announces [general availability of GitHub Actions](https://github.blog/2019-11-13-universe-day-one/) for all users.
- 2019-05-10 - GitHub announces a limited public beta for [GitHub Package Registry](https://github.com/features/package-registry).  From the website: "With GitHub Package Registry you can safely publish and consume packages within your organization or with the entire world."
- 2018-09-10 - GitHub announces that [Microsoft Azure Pipelines are available in the GitHub Marketplace](https://blog.github.com/2018-09-10-azure-pipelines-now-available-in-github-marketplace/). This is in parallel with Microsoft (who recently acquired GitHub) announcing their Azure DevOps (rebranded VSTS/TFS). Related? Yes!
- 2018-09-10 - Microsoft announces the [addition of GitHub Pull Requests integrated directly into Visual Studio Code](https://code.visualstudio.com/blogs/2018/09/10/introducing-github-pullrequests). Visual Studio Code is [Microsoft's lightweight (but still not web based) code editor](https://azure.microsoft.com/en-us/products/visual-studio-code/).
- 2018-06-04 - Microsoft acquires GitHub.


## Resources
* [GitHub Website](https://www.github.com/)
* [How GitLab is Enterprise Class](https://about.gitlab.com/solutions/enterprise-class/) - written with GitHub Enterprise claims in mind
* [GitHub Package Registry](https://github.com/features/package-registry)
* [GitHub Actions page](https://github.com/features/actions)


## Comparison
